{% extends 'public/web_base.html' %}
{% load staticfiles %}
{% block main %}
  <div>
      <ul class="breadcrumb">
          <li><i class="glyphicon glyphicon-flag"></i>
              <span>{{ app_label }}</span>
          </li>
          <li>
              <span>{{ model_name }}</span>
          </li>
      </ul>
  </div>
  <div class="row">
      <div class="box col-md-12">
          <div class="box-inner">
              <div class="box-header well">
                  <h2><i class="glyphicon glyphicon-info-sign"></i> Introduction</h2>
                  <div class="box-icon">
                      <a href="#" class="btn btn-setting btn-round btn-default"><i
                              class="glyphicon glyphicon-cog"></i></a>
                      <a href="#" class="btn btn-minimize btn-round btn-default"><i
                              class="glyphicon glyphicon-chevron-up"></i></a>
                      <a href="#" class="btn btn-close btn-round btn-default"><i
                              class="glyphicon glyphicon-remove"></i></a>
                  </div>
              </div>
              <div class="box-content row">
                  <div class="col-lg-7 col-md-12">
                      <h1>Forverlv</h1>
                      <p>
                        <b>1.Keep on going never give up.</b>
                      </p>
                    <p>
                        <b>2.Don't aim for success if you want it; just do what you love and believe in, and it will come naturally.</b>
                      </p>
                    <p>
                        <b>3.You cannot improve your past, but you can improve your future. Once time is wasted, life is wasted.</b>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
{% block render_grid %}{% endblock %}